<div class="hero-anime">

   
    <div class="section full-height">
        <div class="absolute-center">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-white">
								<span>Virtual</span>
								<span>Classroom</span>
								<span> software</span>
								<span> for </span>
								<span>Live </span>
								<span>interactive</span>
								<span> online</span>
								<span> classes </span>
							</h1>
							<br>
                            <p class="f-s-18 text-center tagslogan text-white"> Keep students very focused and engaged in with high quality audio, video and suite of collaborative tools </p>
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>			
	<div class="d-flex justify-content-center">
					
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/webcam.svg", :class => "f-icons") %>							
							<p class="f-s-18 f-text"> Webcams</h4>
						</div>
					</div>
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/audio.svg", :class => "f-icons") %>	
							<p class="f-s-18 f-text"> Audio </h4>
						</div>
					</div>
				
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/screen-share.svg", :class => "f-icons") %>
							<p class="f-s-18 f-text"> Screen Sharing </h4>
						</div>
					</div>
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/meeting-room.svg", :class => "f-icons") %>	
							<p class="f-s-18 f-text"> Meeting Room</h4>
						</div>
					</div>
					<div class="services-2">
						<div class="icon-div px-0">
							<%= image_tag("icons/black/white-board.svg", :class => "f-icons") %>	
							<p class="f-s-18 f-text"> Multi-User Whiteboard </h4>
						</div>
					</div>
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/polling.svg", :class => "f-icons") %>
							<p class="f-s-18 f-text"> Quiz </h4>
						</div>
					</div>
				
					<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/chat.svg", :class => "f-icons") %>
							<p class="f-s-18 f-text"> Chat</h4>
						</div>
					</div>
						<div class="services-2">
						<div class="icon-div">
							<%= image_tag("icons/black/emojis.svg", :class => "f-icons") %>	
							<p class="f-s-18 f-text"> Emojis </h4>
						</div>
					</div>
			</div>
   
</div>
